@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-font-family/Gotham/Gotham-Black.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-font-family/Gotham/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-font-family/Gotham/Gotham-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}
