@import "tailwindcss";

@theme {
  --color-primary: #13224A;
  --color-secondary: #D91E24;

  --font-primary: 'Gotham', sans-serif;
}

:root {
  font-family: var(--font-primary);
  background-color: white;
  margin: 0;
  padding: 0;
  /* REMOVE fixed width and height */
  /* width: 1920px;
  height: 1080px; */
}



 
/* @font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-font-family/Gotham/Gotham-Black.otf') format('opentype');
  font-weight: 900;
  
  font-style: normal;
  font-display: swap;
}  */

/* @font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-font-family/Gotham/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-font-family/Gotham/Gotham-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */